 {% extends "admin.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<form method="post" action="/postsize" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Size  *</label>
                <input type="text" id="size" data-validation="required" name="size" class="form-control" />
            </div>

        </div>
    </div>
    <input type="submit" value="Add Size" class="btn btn-primary" />
</form>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {

    });
    $.validate();
</script>
{% endblock %}